.circlepacking_node {
    cursor: pointer;
}

.circlepacking_node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.circlepacking_node--leaf {
    fill: white;
}

.circlepacking_label {
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.circlepacking_label,
.circlepacking_node--root {
    pointer-events: none;
}
