<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>首页</title>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
</head>
<body>
	<div th:include="nav.html::nav"></div>
	<div class="col-sm-12" style="margin-bottom: 15px;">
		<table class="table table-bordered">
			<tr>
				<th>项目名</th>
				<th>语言</th>
				<th>路径</th>
			</tr>
			<tr th:each="project : ${projects}">
				<td><span th:text="${project.name}"></span></td>
				<td><span th:text="${project.language}"></span></td>
				<td><span th:text="${project.path}"></span></td>
			</tr>
		</table>
	
	</div>
</body>
</html>