<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div th:fragment = "nav">
		<nav class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Multiple Dependency Analysis</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/overview"> OverView </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/project/graph"> Dependency Graph </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/metric"> Metric </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/feature/index"> Feature </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/testcase/index"> TestCase </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/multiple/all"> MicroService Dependency </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/git"> Commit/Issue </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Clone <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/clonegroup">克隆组查询</a></li>
								<li class="divider"></li>
								<li><a href="/clone/packages">跨包克隆查询</a></li>
								<li class="divider"></li>
								<li><a href="/cloneaggregation">跨包克隆聚合查询</a></li>
								<li class="divider"></li>
								<li><a href="/project/tree">项目跨包克隆查询(树形)</a></li>
								<li class="divider"></li>
								<li><a href="/project/echarts">项目跨包克隆查询(Echarts)</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/as"> Architectural Debt </a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>