<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div th:fragment = "nav">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">多维度依赖</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/feature/index"> Feature </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/testcase/index"> TestCase 覆盖度 </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/multiple/all"> MicroService 多维度依赖 </a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Clone <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/clone/java/file">文件级</a></li>
								<li class="divider"></li>
								<li><a href="/clone/cpp/file">文件级</a></li>
								<li class="divider"></li>
								<li><a href="/clone/java/function">方法级</a></li>
								<li class="divider"></li>
								<li><a href="/clone/cpp/function">方法级</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>