<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProjectGraph</title>
<!--    <script type="text/javascript" th:src="@{/js/import/jquery-3.4.1.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/import/jquery-1.12.0.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/import/jquery.treeview.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-3.3.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/bootstrap/default-zh_CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/d3.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/d3.v4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-select.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/projectgraph.css}"></link>
</head>
<body>
<div th:include="nav.html::nav"></div>
<div id = projectToGraph_util>
</div>
<div id = "projectToGraph">
    <svg id = "projectToGraphSvg"></svg>
    <button class = "showLineButton" id = "showLineId" type="button" onclick= showLine()>显示包克隆关系</button>
</div>

    <script type="text/javascript" th:src="@{/js/projectgraph.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        // var divId = "#projectToGraph";
        //
        // window.onload=function(){
        //     initEvent()
        //     //计算是宽度优先的还是高度优先的
        //     initScale()
        // }
        // function initScale(){
        //     var initScale = 1;
        //     if($(window).width()/$(divId).width()<$(window).height()/$(divId).height()){
        //         initScale=$(window).width()/$(divId).width();
        //     }else{
        //         initScale=$(window).height()/$(divId).height();
        //     }
        //     console.log(initScale)
        //     $(divId).css("transform","scale("+initScale+")")
        // }
        // function initEvent(){
        //     //滚轮效果
        //     var params={}
        //     $('body').on('mousewheel',function(e){
        //         params.zoomVal+=event.wheelDelta/1200;
        //         var o=e.target;
        //         if (params.zoomVal >= 0.2) {
        //             $(divId).css("transform","scale("+params.zoomVal+")")
        //         } else {
        //             params.zoomVal=0.2;//不让其一直无限缩小
        //             $(divId).css("transform","scale("+params.zoomVal+")")
        //             return false;
        //         }
        //     })
        //     $(window).on("resize",function(){
        //         initScale()
        //     })
        // }

        //<![CDATA[
        $(document).ready(function() {
            projectgraph().init();
        });
        // ]]>
    </script>
</body>
</html>