<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Architectural Smell</title>
<script type="text/javascript" th:src="@{/js/import/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/jquery.treeview.js}"></script>
<script type="text/javascript" th:src="@{/js/import/popper-1.14.7.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/jquery-1.12.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/d3.v3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-panzoom.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-navigator.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-hierarchical.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/layout-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cose-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-cose-bilkent-4.1.0.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-undo-red-1.3.3.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-expand-collapse.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/dagre.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-dagre.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-3.3.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-multiselect-0.9.15.js}"></script>
<script type="text/javascript" th:src="@{/js/import/ztree/jquery.ztree.all.js}"></script>
<script type="text/javascript" th:src="@{/js/import/echarts-4.7.0/dist/echarts.js}"></script>
<script type="text/javascript" th:src="@{/js/windowUtil.js}"></script>
<script type="text/javascript" th:src="@{/js/cytoscapeutils.js}"></script>
<script type="text/javascript" th:src="@{/js/as/hublike.js}"></script>
<script type="text/javascript" th:src="@{/js/as/unstable.js}"></script>
<script type="text/javascript" th:src="@{/js/as/cyclic.js}"></script>
<script type="text/javascript" th:src="@{/js/as/hierarchy.js}"></script>
<script type="text/javascript" th:src="@{/js/as/similar.js}"></script>
<script type="text/javascript" th:src="@{/js/as/unused.js}"></script>
<script type="text/javascript" th:src="@{/js/as/icd.js}"></script>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-multiselect-0.9.15.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-treeview.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-panzoom.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-navigator.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/jquery.jqplot.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/ztree/zTreeStyle/zTreeStyle.css}"></link>
<link rel="stylesheet" th:href="@{/css/circlechart.css}"></link>
<style type="text/css">
.div_cytoscape_div{
	background-color: #ffffff;
}
.div_cytoscape {
	width: 83%;
	height: 500px;
	margin-bottom: 5px;
}
.div_cytoscape_content {
	width: 100%;
	height: 500px;
	border: 1px solid #000;
}
.div_cytoscape_treeview {
	padding: 5px;
	width: 17%; 
	float: left; 
	display: inline; 
	overflow: scroll;
	border-left: 1px solid #000;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	height: 500px;
}
</style>	
</head>
<body>
	<div th:include="nav.html::nav"></div>
	<div class="col-sm-12 row" style="margin-bottom: 15px;">
		<div class="col-sm-12">
			<div>
				<h4>Cyclic Dependency</h4>
			</div>
				<div>
					<a href="/as/cyclic" target="_blank">检测</a>
				</div>
		<hr/>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Cyclic Hierarchy</h4>
			</div>
			<div>
				<a href="/as/cylic/hierarchy" target="_blank">检测</a>
			</div>
		<hr/>
		</div>
		<div class="col-sm-12 row">
			<div class="col-sm-12">
				<h3>Hub-Like Dependency</h3>
			</div>
			<div class="form">
				<div class="col-sm-12 row">
					<div class="col-sm-4 form-group">
						<label for="hubLikeDependencyProjects">项目</label>
						<select id="hubLikeDependencyProjects" class="projectSelect form-control">
							<option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name + ' (' + project.language + ')'}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
						<label for="hubLikeMinFileFanIn">最小文件级fan in</label>
						<input class="form-control" placeholder="输入文件级最小 fan in" id="hubLikeMinFileFanIn" type="number" /><br/>
					</div>
					<div class="form-group col-sm-12 row">
						<label for="hubLikeMinFileFanOut" class="col-sm-2 control-label">最小文件级fan out：</label>
						<div class="col-sm-6">
							<input class="form-control" placeholder="输入文件级最小 fan out" id="hubLikeMinFileFanOut" type="number" /><br/>
						</div>
					</div>
					<div class="form-group col-sm-12 row">
					<label for="hubLikeMinPackageFanIn">最小包级fan in：</label>
					<input class="form-control" placeholder="输入包级最小 fan in" id="hubLikeMinPackageFanIn" type="number" /><br/>
					</div>
					<div class="form-group col-sm-12 row">
					<label for="hubLikeMinPackageFanOut">最小包级fan out：</label>
					<input class="form-control" placeholder="输入包级最小 fan out" id="hubLikeMinPackageFanOut" type="number" />
					</div>
				</div>
				<div class="col-sm-12">
					<button id="hubLikeMinFanIOSave">保存</button>
					<a href="/as/hublike" target="_blank">检测</a>
				</div>
			</div>
			<div class="col-sm-12">
			<hr/>
			</div>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Unstable Dependency</h4>
			</div>
			<div>
				<select id="unstableDependencyProjects" class="projectSelect">
					<option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name + ' (' + project.language + ')'}"></option>
				</select><br/>
				FanInThreshold：<input id="unstableFanInThreshold" type="number" /><br/>
				CoChangeTimesThreshold：<input id="unstableCoChangeTimesThreshold" type="number" /><br/>
				CoChangeFilesThreshold：<input id="unstableCoChangeFilesThreshold" type="number" />
			</div>
			<div>
				<button id="unstableThresholdSave">保存</button>
				<a href="/as/unstable" target="_blank">检测</a>
			</div>
		<hr/>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Implicit Cross-Module Dependency</h4>
			</div>
			<div>
				minCoChange：<input id="icdMinCoChange" type="number" />
			</div>
			<div>
				<button id="icdMinCoChangeSave">保存</button>
				<a href="/as/icd" target="_blank">检测</a>
			</div>
		<hr/>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Similar Components</h4>
			</div>
			<div>
				<a href="/as/similar" target="_blank">检测</a>
			</div>
		<hr/>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Unused Components</h4>
				<select class="projectSelect">
					<option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name + ' (' + project.language + ')'}"></option>
				</select>
			</div>
			<div>
				<a href="/as/unused" target="_blank">检测</a>
			</div>
		<hr/>
		</div>
		<div class="col-sm-12">
			<div>
				<h4>Multiple Smells</h4>
			</div>
			<div>
				<a href="/as/multiple" target="_blank">检测</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		 $(document).ready(function() {
			hublike(cytoscapeutil()).init();
			unstable(cytoscapeutil()).init();
			icd(cytoscapeutil()).init();
		});
		// ]]>
	</script>
</body>
</html>